*.lock

venv/
projects/

#--------------------
# Puppet modules included by Puppetfile
#--------------------

puppet/.tmp
puppet/modules/core-env
puppet/modules/apt
puppet/modules/user
puppet/modules/libxml
puppet/modules/mysql
puppet/modules/redis
puppet/modules/python
puppet/modules/supervisorprog
